@{
    ViewData["Title"] = "Get users by name";
}

<script>
/**
    $(document).ready(function(){
		$("#registerButton").click(function() {
			$.post("/Auth/Register", {username: $("#username").val(), password: $("#password").val()},
				function(data,status) {
					$("#maindiv").html(data);
				});
		});
	});
	**/
</script>

<h1>Get users by name</h1>

@{
	List<User> users = (List<User>) ViewData["allUsers"];
}

<table>
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Username</th>
		<th>Password</th>
		<th>Date of birth</th>
		<th>Role</th>
		<th>E-mail</th>
	</tr>
	@foreach (User user in users)
	{
		<tr>
			<td>@user.Id</td>
			<td>@user.Name</td>
			<td>@user.Username</td>
			<td>@user.Password</td>
			<td>@user.dateOfBirth</td>
			<td>@user.Role</td>
			<td>@user.Email</td>
		</tr>
	}
</table>